<footer>
    <div id="columna1">
        <h3>Universidad de guadalajara</h3>
        <h4>Centro universitario de Tonalá</h4>
        <p>
            Campus CUTonalá.
            <br>
            Av. Nuevo Periferico No. 555
            Ejido San Jose Tateposco.
            C.P. 45425.
            Tonalá Jalisco, México.
            <br>
            <b>Telefono:</b>
            +52 (33) 20 00 23 00 Ext: 64007 y 64044
        </p>
    </div>
    <div id="columna2">
        <h3>Redes Sociales</h3>
        <ul>
            <li>
                <img src="../../../assets/facebook.png" width="15px" alt="">
                <a href="https://es-la.facebook.com/centrouniversitariodetonala/">Facebook</a>
            </li>
            <li>
                <img src="../../../assets/instagram-dark.png" width="15px" alt="">
                <a href="https://www.instagram.com/cutonala.udg/?hl=es">Instagram</a>
            </li>
            <li>
                <img src="../../../assets/twitter-dark.png" width="15px" alt="">
                <a href="https://twitter.com/Cutonala_udg">Twitter</a>
            </li>
        </ul>
    </div>
    <div id="columna3">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.5235406408756!2d-103.23079978513168!3d20.56666668625044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f4b24202abe73%3A0xd33161e2e4345862!2sCentro%20Universitario%20de%20Tonal%C3%A1%20-%20Universidad%20de%20Guadalajara!5e0!3m2!1ses-419!2smx!4v1656628811338!5m2!1ses-419!2smx"
            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
<script src="../../../main.js"></script>