<app-header-component></app-header-component>
<div class="contenido">
    <div class="card">
        <span class="material-icons">&#xe7fd;</span>   
        <div class="info">
            <h3>Encargado</h3>
            <p>Coordinador de Carrera</p>
            <h3>Nombre</h3>
            <p>Martín Antonio Hernández Bravo</p>
            <h3>Telefono</h3>
            <p>+52 (33) 20 00 23 00 ext. 64040</p>
            <h3>Correo</h3>
            <p>cd.computacion@cutonala.udg.mx</p>
        </div>
    </div>

    <div class="card">
        <span class="material-icons">&#xe7fd;</span>   
        <div class="info">
            <h3>Encargado</h3>
            <p>Coordinador de Carrera</p>
            <h3>Nombre</h3>
            <p>Martín Antonio Hernández Bravo</p>
            <h3>Telefono</h3>
            <p>+52 (33) 20 00 23 00 ext. 64040</p>
            <h3>Correo</h3>
            <p>cd.computacion@cutonala.udg.mx</p>
        </div>
    </div>

    <div class="card">
        <span class="material-icons">&#xe7fd;</span>   
        <div class="info">
            <h3>Encargado</h3>
            <p>Coordinador de Carrera</p>
            <h3>Nombre</h3>
            <p>Martín Antonio Hernández Bravo</p>
            <h3>Telefono</h3>
            <p>+52 (33) 20 00 23 00 ext. 64040</p>
            <h3>Correo</h3>
            <p>cd.computacion@cutonala.udg.mx</p>
        </div>
    </div>
</div>
<app-footer></app-footer>