<app-header-component></app-header-component>
<div class="contenido">
    <div class="card" *ngFor="let item of items | async">
        <span class="material-icons">&#xe7fd;</span>   
        <div class="info">
            <h3>Encargado</h3>
            <p>{{item.encargado}}</p>
            <h3>Nombre</h3>
            <p>{{item.nombre}}</p>
            <h3>Telefono</h3>
            <p>{{item.telefono}}</p>
            <h3>Correo</h3>
            <p>{{item.correo}}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>