<app-header-component></app-header-component>

<div id="contenido">
    <div id="malla">
        <p>Malla Curricular</p>
        <span class="material-icons">&#xe5c8;</span>
        <a href="../../../assets/malla_icco_dictamen.pdf" download="malla icco" id="b-descargar">Descargar</a>
        <object data="../../../assets/malla_icco_dictamen.pdf" width="800px" height="650px"></object>
    </div>
</div>

<div id="contenido-tabla">
    <div id="contedor-tabla">
        <table class="tabla">
            <caption class="caption1">Área de formación: Básica común</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items | async">
                    <td id="nombre">{{item.nombre}}</td>
                    <td id="descripcion">{{item.descripcion}}</td>
                    <td id="url"><a href={{item.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tabla">
            <caption class="caption2">Área de formación: Básica particular (obligatoria)</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of materias2 | async">
                    <td id="nombre">{{i.nombre}}</td>
                    <td id="descripcion">{{i.descripcion}}</td>
                    <td id="url"><a href={{i.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a></td>
                </tr>
            </tbody>
        </table>

        <table class="tabla">
            <caption class="caption3">Área de formación: Especializante (obligatoria)</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of materias3 | async">
                    <td id="nombre">{{i.nombre}}</td>
                    <td id="descripcion">{{i.descripcion}}</td>
                    <td id="url"><a href={{i.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a></td>
                </tr>
            </tbody>
        </table>

        <table class="tabla">
            <caption class="caption4">Área de formación: Especializante (selectiva)</caption>
            <caption class="caption5">Ciberseguridad</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of materias4 | async">
                    <td id="nombre">{{i.nombre}}</td>
                    <td id="descripcion">{{i.descripcion}}</td>
                    <td id="url"><a href={{i.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a></td>
                </tr>
            </tbody>
        </table>

        <table class="tabla">
            <caption class="caption5">Desarrollo de software</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of materias5 | async">
                    <td id="nombre">{{i.nombre}}</td>
                    <td id="descripcion">{{i.descripcion}}</td>
                    <td id="url"><a href={{i.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a></td>
                </tr>
            </tbody>
        </table>

        <table class="tabla">
            <caption class="caption5">Inteligencia de datos</caption>
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Descripción</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of materias6 | async">
                    <td id="nombre">{{i.nombre}}</td>
                    <td id="descripcion">{{i.descripcion}}</td>
                    <td id="url"><a href={{i.url}} target="_blank"><span class="material-icons">&#xe2c4;</span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>