<header>
    <nav>
        <div class="mobile">
            <div class="header">
                <a href="index.html"><img src="../../../assets/logo.png" width="100" alt=""></a>

                <button id="bMenuMobile">
                    <span class="material-icons">&#xe5d2;</span>
                </button>
            </div>

            <div class="linksMobile">
                <a href="plan-de-estudios.html">Plan de estudios</a>
                <a href="convocatorias.html">Convocatorias</a>
                <a href="cursos.html">Cursos</a>
                <a href="videos.html">Videos</a>
                <a href="contacto.html">Contacto</a>
                <a href="http://siga.cutonala.udg.mx/" target="_blank">SIGA</a>
                <a href="http://siiauescolar.siiau.udg.mx/" target="_blank">SIIAU</a>
                <a href="http://www.cutonala.udg.mx/" target="_blank">CuTonalá</a>
                <a href="https://mw.siiau.udg.mx/Portal/login.xhtml" target="_blank">Ventanilla Unica</a>
            </div>
        </div>

        <!-- Nav de escritorio -->
        <ul>
            <a href="index.html"><img src="../../../assets/logo.png" width="100" alt=""></a>
            <li><a href="index.html" class="link">Inicio</a></li>
            <li><a href="plan-de-estudios.html" class="link">Plan de estudios</a></li>
            <li><a href="convocatorias.html" class="link">Convocatorias</a></li>
            <li><a href="cursos.html" class="link link-hide-hide">Cursos</a></li>
            <li><a href="videos.html" class="link link-hide-hide">Videos</a></li>
            <li><a href="contacto.html" class="link link-hide ">Contacto</a></li>
            <li><a href="http://siga.cutonala.udg.mx/" target="_blank" class="link link-hide">SIGA</a></li>
            <li><a href="http://siiauescolar.siiau.udg.mx/" class="link link-hide" target="_blank">SIIAU</a>
            </li>
            <li><a href="http://www.cutonala.udg.mx/" class="link link-hide" target="_blank">CuTonalá</a></li>
            <li><a href="https://mw.siiau.udg.mx/Portal/login.xhtml" class="link link-hide"
                    target="_blank">Ventanilla Unica</a></li>
            <!-- Primer lista con elementos a escoder para hacerlo responsivo -->
            <li class="mas">
                <a href="#" id="bmas">Más</a>
                <div class="menu-mas">
                    <a href="contacto.html">Contacto</a>
                    <a href="http://siga.cutonala.udg.mx/" target="_blank">SIGA</a>
                    <a href="http://siiauescolar.siiau.udg.mx/" target="_blank">SIIAU</a>
                    <a href="http://www.cutonala.udg.mx/" target="_blank">CuTonalá</a>
                    <a href="https://mw.siiau.udg.mx/Portal/login.xhtml" target="_blank">Ventanilla Unica</a>
                </div>
            </li>
            <!-- Segundo lista con elementos a escoder para hacerlo responsivo -->
            <li class="mas2">
                <a href="#" id="bmas2">Más</a>
                <div class="menu-mas2">
                    <a href="cursos.html">Cursos</a>
                    <a href="videos.html">Videos</a>
                    <a href="contacto.html">Contacto</a>
                    <a href="http://siga.cutonala.udg.mx/" target="_blank">SIGA</a>
                    <a href="http://siiauescolar.siiau.udg.mx/" target="_blank">SIIAU</a>
                    <a href="http://www.cutonala.udg.mx/" target="_blank">CuTonalá</a>
                    <a href="https://mw.siiau.udg.mx/Portal/login.xhtml" target="_blank">Ventanilla Unica</a>
                </div>
            </li>
        </ul>
    </nav>
</header>