<app-header-component></app-header-component>

<div class="container">
    <div class="card">
        <img src="../../../assets/cap.png" alt="">
        <div class="info">
            <h3>Lógica Programación: Aprende Programar en Cualquier Lenguaje</h3>
            <p>Un curso muy básico para aprender a programar en cualquier lenguaje: Java, C++, JavaScript,
                Python, SQL, HTML, Swift etc</p>
            <a href="https://www.udemy.com/course/logica-programacion-aprende-programar-en-cualquier-lenguaje/"
                target="_blank">Ver curso</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/cap3.png" alt="">
        <div class="info">
            <h3>Aprende Programación con Diagramas de Flujo</h3>
            <p>Si eres un apasionado por la programación este curso es para ti :D</p>
            <a href="https://www.udemy.com/course/programacion-desde-cero-con-diagramas-de-flujo/"
                target="_blank">Ver curso</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/cap4.png" alt="">
        <div class="info">
            <h3>Algoritmos desde Cero</h3>
            <p>Aprenda a razonar con un programador y aumente su capacidad de solucionar problemas</p>
            <a href="https://www.udemy.com/course/algoritmos-desde-cero/" target="_blank">Ver curso</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/cap5.png" alt="">
        <div class="info">
            <h3>Introducción a Java desde cero</h3>
            <p>Curso gratuito de introducción al lenguaje Java</p>
            <a href="https://www.udemy.com/course/introduccion-a-java-desde-cero-gratis/" target="_blank">Ver
                curso</a>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/cap6.png" alt="">
        <div class="info">
            <h3>Aprende SQL desde CERO hasta AVANZADO como un PROFESIONAL.</h3>
            <p>Aprende SQL con la Base de Datos mas utilizada en el mundo MYSQL, desde CERO hasta AVANZADO. El
                curso mas completo.</p>
            <a href="https://www.udemy.com/course/aprende-sql-desde-cero-hasta-avanzado-como-un-profesional/"
                target="_blank">Ver curso</a>
        </div>
    </div>
</div>

<app-footer></app-footer>