<section id="bienvenida">
    <h2>Ing. En Ciencias Computacionales</h2>


    Bienvenidos a la pagina de departamento de la Ingeniería en Ciencias Computacionales, aqui encontraras
    varios recursos valiosos que te ayudaran en tu estadia como estudiante como:

    <ul>
        <li>Ver plan de estudios</li>
        <li>Ver convocatorias nuevas</li>
        <li>Obtener cursos gratuitos para ayudarte con tu aprendizaje</li>
        <li>Ver videos relacionado con el centro universitario de Tonalá</li>
        <li>Ver datos de contacto de profesores y coordinador de la Ingeniería</li>
        <li>Tener acceso a paginas que te ayudaran como estudiante de UDG como: SIIAU, Ventanilla Unica, SIGA
        </li>
    </ul>
</section>

<section id="imagen">
    <section id="primer_i">
        <h2>Primer ingreso</h2>
        <h3>Perfil de ingreso:</h3>

        <ul>
            <li>Poseer certificado de bachillerato general o equivalente.</li>
            <li>Interés y aptitudes en métodos y técnicas de sistemas informáticos y de computación.</li>
            <li>Organización y disciplina en el estudio y el trabajo.</li>
            <li>Inclinación por el estudio de las ciencias y las tecnologías.</li>
        </ul>

        <h3>Examen de ingreso:</h3>
        El aspirante a estudios universitario deberá presentar la Prueba de Aptitua Académica (PAA) del College
        Board que evalúa las siguientes áreas:<br>

        <ul>
            <li>Razonamiento verbal y lectura crítica.</li>
            <li>Razonamiento lógico.</li>
            <li>matemático.</li>
            <li>redacción en español.</li>
        </ul>
        <br>
        Guía para preparar el examen de ingreso
        <ul>
            <li>http://www.escolar.udg.mx/aspirantes/guia-paa</li>
        </ul>
        Calendario y trámites para el ingreso
        <ul>
            <li>Calendario: http://www.escolar.udg.mx</li>
            <li>Trámites: http://www.escolar.udg.mx/aspirantes/registro-de-tramites</li>
        </ul>

    </section>
</section>
